@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.css";
@import "./components.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-blalance {
    text-wrap: balance;
  }
}

.content-title{
  font-weight: 600;
  font-size: 2rem;
  color: var(--gray-dark);

  text-align: center;
}