@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-blalance {
    text-wrap: balance;
  }
}