:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #D39530;
    --secondary: #D1C4B0;

    --success: #86AB7B;
    --dark-success: #5B7553;

    --danger: #DE7C66;
    --dark-danger: #DC4321;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
}